* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-width: 320px;
  max-width: 50%;
  margin: 100px auto;
}

.join-block {
  max-width: 200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-block input {
  margin-bottom: 10px;
  width: 100%;
  padding: 7px 5px;
}

.join-block button {
  display: block;
  width: 100%;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 7px 20px;
  text-transform: uppercase;
  cursor: pointer;
}
